/*-----------------------------*/
/*            RESET            */
/*-----------------------------*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p,
li,
figcaption {
    text-wrap: pretty;
}

input {
    outline: 3px solid hsl(203, 30%, 26%);
}

input:not(:placeholder-shown):valid {
    outline-color: var(--color-success);
}

input:not(:placeholder-shown):invalid {
    outline-color: var(--color-error);
}

input:focus:invalid {
    outline-color: var(--color-warning);
}

p {
   line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 2 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/*-----------------------------*/
/*      CUSTOM PROPERTIES      */
/*-----------------------------*/

/* COLORS */

:root {
    --clr-success: #28a745;
    --clr-error: #dc3545;
    --clr-warning: #ffc107;

    --clr-dark: 230 35% 7%;
}

body {
    min-height: 100vh;
}