:root {
    --black: hsla(0, 0%, 0%, 1);
    --oxford-blue: hsla(221, 51%, 16%, 1);
    --orange-web: hsla(37, 98%, 53%, .6);
    --platinum: hsla(0, 0%, 90%, 1);
    --white: hsla(0, 0%, 100%, 1);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-color: var(--orange-web);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 80vh;
    width: 82vw;
    background-color: whitesmoke;
    border-radius: 20px;
    color: var(--oxford-blue);
    box-shadow: 10px 7px 8px 0.2px rgba(70, 70, 70, 0.6);
    text-align: center;
    padding: 2em 1.5em;
    max-width: 600px;
}

main h1 {
    margin-bottom: 1em;
}

i {
    margin: 0 .5em;
}

.caja-nueva-tarea {
    height: 15vh;
    width: 90%;
    border-radius: 20px;
    margin: auto;
    box-shadow: 4px 4px 8px 3px rgba(70, 70, 70, 0.6);
    background-color: var(--platinum);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

input {
    border: none;
    outline: none;
    border-radius: 20px;
    height: 25%;
    background-color: var(--white);
    padding: 1em 1.5em;
    font-style: italic;
    font-weight: 600;
}

.caja-nueva-tarea button {
    background-color: var(--oxford-blue);
    color: white;
    border-radius: 20px;
    padding: .25em 1em;
    font-size: 1.5rem;
    transition: scale 150ms ease-in-out;
}

.caja-nueva-tarea button:hover {
    cursor: pointer;
}

.caja-nueva-tarea button:active {
    scale: 0.9;
}

.tareas {
    height: 46vh;
    width: 90%;
    border-radius: 20px;
    margin: auto;
    box-shadow: 4px 4px 8px 3px rgba(70, 70, 70, 0.6);
    background-color: var(--platinum);
    transition: scale 300ms ease-in-out;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 2em;
    padding: 2em 3em;
    line-height: 2rem;
    overflow: auto;
}

li {
    font-style: italic;
    font-weight: 500;
    text-shadow: 0px 0px 0px 10px black;
    font-size: 1rem;
    text-decoration: none;
}

li i {
    font-size: 1.6rem;
}

li i:first-child {
    margin-left: 2em;
}

.tareas button {
    border: none;
    background-color: inherit;
    color: var(--oxford-blue);
    transition: scale 150ms ease-in-out;
}

.tareas button:hover {
    cursor: pointer;
}

.tareas button:active {
    scale: 0.95;
}

.checked {
    text-decoration: line-through ;
    text-decoration-thickness: 2px ;
}


